BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 0
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: false
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: false
AlignEscapedNewlines: Left
BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
PointerAlignment: Right
SortIncludes: false
