/* Four-position model for a live Qwerty/Dwerty default-layer change. */
/ {
    behaviors {
        dq_j: dvorak_qwerty_j {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp J>, <&kp C>;
            mods = <(MOD_LCTL|MOD_RCTL|MOD_LALT|MOD_RALT|MOD_LGUI|MOD_RGUI)>;
            keep-mods = <(MOD_LCTL|MOD_RCTL|MOD_LALT|MOD_RALT|MOD_LGUI|MOD_RGUI)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        mac_qwerty {
            bindings = <
                &kp C      &kp LCTRL
                &mo 4      &kp N1
            >;
        };

        mac_dwerty {
            bindings = <
                &dq_j      &kp LCTRL
                &mo 4      &kp N1
            >;
        };

        win_qwerty {
            bindings = <
                &kp C      &kp LCTRL
                &mo 4      &kp N1
            >;
        };

        win_dwerty {
            bindings = <
                &dq_j      &kp LCTRL
                &mo 4      &kp N1
            >;
        };

        fn_layer {
            bindings = <
                &trans     &trans
                &trans     &to 0xFF
            >;
        };
    };
};
